[submodule "vim/pack/general/start/vim-fugitive"]
	path = vim/pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/general/start/vim-javascript"]
	path = vim/pack/javascript/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/general/start/vim-go"]
	path = vim/pack/go/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/pack/general/start/NrrwRgn"]
	path = vim/pack/general/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim/pack/javascript/start/typescript-vim"]
	path = vim/pack/javascript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/javascript/start/vim-jsx-typescript"]
	path = vim/pack/javascript/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "vim/pack/general/opt/ale"]
	path = vim/pack/general/opt/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/pack/general/start/editorconfig-vim"]
	path = vim/pack/general/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/general/start/delimitMate"]
	path = vim/pack/general/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/pack/general/start/vim-dirvish"]
	path = vim/pack/general/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
