[submodule "vim/pack/general/start/vim-fugitive"]
	path = vim/pack/general/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/general/start/vim-javascript"]
	path = vim/pack/webdev/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/pack/general/start/NrrwRgn"]
	path = vim/pack/general/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "vim/pack/javascript/start/typescript-vim"]
	path = vim/pack/webdev/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/pack/javascript/start/vim-jsx-typescript"]
	path = vim/pack/webdev/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "vim/pack/general/start/editorconfig-vim"]
	path = vim/pack/general/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/general/start/delimitMate"]
	path = vim/pack/general/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/pack/rust/rust.vim"]
	path = vim/pack/rust/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/godot/start/vim-gdscript3"]
	path = vim/pack/godot/start/vim-gdscript3
	url = https://github.com/clktmr/vim-gdscript3
[submodule "vim/pack/lua/start/vim-lua"]
	path = vim/pack/lua/start/vim-lua
	url = https://github.com/tbastos/vim-lua
[submodule "vim/pack/general/start/vim-vinegar"]
	path = vim/pack/general/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/pack/webdev/start/vim-prettier"]
	path = vim/pack/webdev/start/vim-prettier
	url = https://github.com/prettier/vim-prettier/
[submodule "vim/pack/webdev/start/vim-lsp"]
	path = vim/pack/webdev/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/general/start/vim-markdown"]
	path = vim/pack/general/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/webdev/start/vim-jsx-pretty"]
	path = vim/pack/webdev/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "vim/pack/webdev/start/yats.vim"]
	path = vim/pack/webdev/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "vim/pack/webdev/start/html5.vim"]
	path = vim/pack/webdev/start/html5.vim
	url = https://github.com/othree/html5.vim
[submodule "vim/pack/general/start/vim-toml"]
	path = vim/pack/general/start/vim-toml
	url = https://github.com/cespare/vim-toml
