;.editorconfig

root = true

[**.js]
; path to optional external js beautifier, default is vim-jsbeautify/plugin/lib
path=~/.vim/plugin/lib/
; Javascript interpreter to be invoked by default 'node'
bin=node
max_char = 78
indent_style = space
indent_size = 2
end_with_newline = true
keep_array_indentation = false
keep_function_indentation = false
brace_style = preserve-inline

[**.css]
indent_style = space
indent_size = 2
selector_separator_newline  = false

[**.html]
indent_style = space
indent_size = 2
brace_style = expand
