12ibt6
autostart
blender
Blue Jeans
browsh
cmus
Code
configstore
containers
dconf
dleyna-renderer-service.conf
enchant
evolution
fcitx
gconf
gedit
GIMP
git
gnome-*
godot
google-chrome
gtk-*
helm
ibus*
icedtea-web
iridium
kdeconnect
keybase
leafpad
libreoffice
menus
midori
mimeapps.list
nautilus
nnn
pavucontrol.ini
pragha
pulse
QtProject
QtProject.conf
ristretto
snes9x
SpiderOak Groups
supertuxkart
tagaini.net
Thunar
torbrowser
totem
transmission
Trolltech
Trolltech.conf
ungoogled-chromium
unity3d
user-dirs.dirs
user-dirs.locale
VA_11_Hall_A
VeraCrypt
VirtualBox
vlc
xfce4
yelp
