# Need to manually add each file/dir in here
# so that I don't accidentally commit private files before cleaning then up first

*
!*/
!startup.sh
!srandrd_script.sh
!picom.conf
!redshift.conf
!greenclip.toml
!starship.toml

!/bottom/*
!/broot/*
!/btop/*
!/cava/*
!/eww/*
!/mpd/*
!/slop/*
!/streamlink/*
!/wtf/*

!/alacritty/*
!/conky/*
!/dunst/*
!/helix/*
!/kitty/*
!/nvim/*
!/polybar/*
!/rofi/*
!/sakura/*

!/environment.d/*
!/awesome/*
!/bspwm/*
!/sway/*
!/waybar/*
!/sxhkd/*
!/tridactyl/*
