# Need to manually add each file/dir in here
# so that I don't accidentally commit private files before cleaning then up first

*
!*/
!startup.sh
!srandrd_script.sh
!picom.conf
!redshift.conf
!greenclip.toml
!starship.toml
!wayfire.ini
!wf-shell.ini

!/bottom/*
!/broot/*
!/btop/*
!/cava/*
!/eww/*
!/mpd/*
!/slop/*
!/streamlink/*
!/wtf/*

!/alacritty/*
!/conky/*
!/dunst/*
!/helix/*
!/kitty/*
!/kanshi/*
!/mako/*
!/nvim/*
!/polybar/*
!/rofi/*
!/sakura/*
!/wofi/*

!/awesome/*
!/environment.d/*
!/bspwm/*
!/icons/*
!/sway/*
!/sxhkd/*
!/tridactyl/*
!/waybar/*
